<template>
    <v-container mt-9>
        <v-row justify="center" align="center">
            <v-autocomplete
                :items="cities.zones"
                label="Select City"
                dense
                outlined
                item-text="zoneName"
                @input="selectionChange"
                v-model="selectedCity" 
            ></v-autocomplete>
            <v-btn class="mb-6 ml-5" @click="yourTime">Your Time</v-btn>
        </v-row>
    </v-container>
</template>

<script>
    import myFetch from "../helpers/myFetch"

    export default {
        name: 'SelectCity',
        data: () => ({
            cities: [],
            selectedCity: undefined,
            selectedDate: null,
        }),
        methods: {
            async getCities() {
                this.cities = await myFetch(`https://api.timezonedb.com/v2.1/list-time-zone?key=${process.env.VUE_APP_API_SECRET}&format=json`)
            },
            async selectionChange(value) {
                this.selectedCity = value
                var city = await myFetch(`https://api.timezonedb.com/v2.1/get-time-zone?key=${process.env.VUE_APP_API_SECRET}&format=json&by=zone&zone=${value}`)
                var selectedOffset = city.gmtOffset
                var offset = this.getTimeZone(selectedOffset / 60)
                var d = new Date()
                var utc = d.getTime() + (d.getTimezoneOffset() * 60000)
                this.selectedDate = new Date(utc + (3600000 * offset))
                this.$emit("date-change", this.selectedDate)
            },
            getTimeZone(offset) {
                var o = Math.abs(offset)
                return (offset < 0 ? "-" : "+") + ("00" + Math.floor(o / 60)).slice(-2) + "." + ("00" + (o % 60)).slice(-2)
            },
            yourTime() {
                this.selectedDate = new Date()
                this.selectedCity = ""
                this.$emit("date-change", this.selectedDate)
            }
        },
        created() {
            this.getCities()
        },
    }
</script>

<style scoped>
    .v-btn {
        background: #02083b !important;
        color: white !important;
    }
</style>
