<template>
  <v-container mt-5>
    <v-row justify="center" align="center">
        <v-col cols="12" sm="4" align="center">
            <span v-for="(string, index) in letters" :key=index class="d-flex justify-space-around">
              <span v-for="(letter, j) in string" :key=j :class="isOn[index][j] == 1 ? 'highlight' : 'light'">
                {{ letter }}
              </span>
              <br>
            </span>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'WordClock',
    props: {
      selectedDate: {
        type: Date,
      }
    },
    data: () => ({
      timer: undefined,
      dateUpdater: undefined,
      letters: [
        ['I','T','R','I','S','U','H','A','L','F','T','E','N'],
        ['Q','U','A','R','T','E','R','T','W','E','N','T','Y'],
        ['F','I','V','E','Q','M','I','N','U','T','E','S','T'],
        ['P','A','S','T','M','T','O','S','A','M','O','P','M'],
        ['O','N','E','N','T','W','O','Z','T','H','R','E','E'],
        ['F','O','U','R','F','I','V','E','S','E','V','E','N'],
        ['S','I','X','E','I','G','H','T','Y','N','I','N','E'],
        ['T','E','N','E','L','E','V','E','N','P','H','I','L'],
        ['T','W','E','L','V','E','L','O','C','L','O','C','K'],
      ],
      isOn: [
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
      ],
    }),
    methods: {
      toPast(minute) {
        if((3 <= minute) && (minute < 33)) {
          return [[3, 0], [3, 1], [3, 2], [3, 3]]
        } else if((33 <= minute) && (minute <= 57)) {
          return [[3, 5], [3, 6]]
        }
        return []
      },
      minuteReflector(minute) {
        if(minute > 30) {
          minute = 60 - minute
        }
        if(minute >= 3) {
            var minutes = [
                [[2, 0], [2, 1], [2, 2], [2, 3], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [2, 10], [2, 11]],
                [[0, 10], [0, 11], [0, 12], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [2, 10], [2, 11]],
                [[0, 7], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6]],
                [[1, 7], [1, 8], [1, 9], [1, 10], [1, 11], [1, 12], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [2, 10], [2, 11]],
                [[1, 7], [1, 8], [1, 9], [1, 10], [1, 11], [1, 12], [2, 0], [2, 1], [2, 2], [2, 3], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [2, 10], [2, 11]],
                [[0, 6], [0, 7], [0, 8], [0, 9]],
            ]
            return minutes[Math.round((0 + (5 - 0) * ((minute - 3) / (28 - 3))) - 0.4)]
        }
        return ''
      },
      hourReflector(hour, minute) {
        var hours = [
          [[4, 0], [4, 1], [4, 2]],
          [[4, 4], [4, 5], [4, 6]],
          [[4, 8], [4, 9], [4, 10], [4, 11], [4, 12]],
          [[5, 0], [5, 1], [5, 2], [5, 3]],
          [[5, 4], [5, 5], [5, 6], [5, 7]],
          [[6, 0], [6, 1], [6, 2]],
          [[5, 8], [5, 9], [5, 10], [5, 11], [5, 12]],
          [[6, 3], [6, 4], [6, 5], [6, 6], [6, 7]],
          [[6, 9], [6, 10], [6, 11], [6, 12]],
          [[7, 0], [7, 1], [7, 2]],
          [[7, 3], [7, 4], [7, 5], [7, 6], [7, 7], [7, 8]],
          [[8, 0], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5]],
          [[4, 0], [4, 1], [4, 2]],
        ]
        if(minute > 33) {
          return hours[hour]
        }
        return hours[hour - 1]
      },
      timeReflector(hour, minute) {
        var letters = [
          [0, 0], [0, 1], [0, 3], [0, 4]
        ]
        var hour_reflector = this.hourReflector(hour, minute)
        for(var i = 0; i < hour_reflector.length; i++) {
          letters.push(hour_reflector[i])
        }
        var to_past = this.toPast(minute)
        for(i = 0; i < to_past.length; i++) {
          letters.push(to_past[i])
        }
        var minute_reflector = this.minuteReflector(minute)
        for(i = 0; i < minute_reflector.length; i++) {
          letters.push(minute_reflector[i])
        }
        if((0 <= minute < 3) || (57 < minute <= 60)) {
          letters.push([8, 7], [8, 8], [8, 9], [8, 10], [8, 11], [8, 12])
        }
        return letters
      },
      updateTime() {
        var hour = this.dateUpdater.getHours()
        var min = this.dateUpdater.getMinutes()
        if(hour > 12) {
          hour -= 12
        } else if(hour == 0) {
          hour = 12
        }
        var highlight = this.timeReflector(hour, min)
        this.isOn = [
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ]
        for(var i = 0; i < highlight.length; i++) {
          this.isOn[highlight[i][0]][highlight[i][1]] = 1
        }
      },
    },
    beforeMount() {
      this.dateUpdater = this.selectedDate
      this.timer = setInterval(() => {
        this.updateTime()
        this.dateUpdater.setMilliseconds(this.dateUpdater.getMilliseconds() + 1000)
      }, 1000)
    },
    beforeUnmount() {
      clearInterval(this.timer)
    },
    watch: {
      selectedDate: function () {
        this.dateUpdater = this.selectedDate
        this.isOn = [
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
          ['0','0','0','0','0','0','0','0','0','0','0','0','0'],
        ]
        this.updateTime()
      }
    },
  }
</script>

<style scoped>
  .highlight {
    font-weight: 900;
    color: #02083b;
    font-family: cursive;
  }

  .light {
    font-weight: 100;
  }

  span {
    font-size: 1.5rem;
  }
</style>
