<template>
  <v-app>
    <v-app-bar app>
        <h3>Word Clock</h3>
        <v-spacer></v-spacer>
        <a href="https://www.linkedin.com/in/keval-sanghvi/">By Keval Sanghvi</a>
    </v-app-bar>
    <v-main>
      <SelectCity @date-change="dateChange"/>
      <WordClock :selectedDate="selectedDate"/>
      <DigitalTime :selectedDate="selectedDate"/>
    </v-main>
    <v-footer class="justify-center pt-4 pb-4">
      <h3>2022 - <a href="https://gitlab.com/Keval_Sanghvi/word-clock-vue">Project Link</a></h3>
    </v-footer>
  </v-app>
</template>

<script>
import WordClock from './components/WordClock'
import DigitalTime from './components/DigitalTime'
import SelectCity from './components/SelectCity'

export default {
  name: 'App',
  components: {
    WordClock,
    DigitalTime,
    SelectCity,
  },
  data: () => ({
    selectedDate: new Date(),
  }),
  methods: {
    dateChange(date) {
      this.selectedDate = date
    },
  },
}
</script>

<style scoped>
  .v-app-bar {
    background: #02083b !important;
    color: white !important;
  }

  a {
    color: white !important;
  }

  .v-footer {
    background: #02083b !important;
    color: white !important;
  }
</style>
